#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  .terminal {
    background: #2d2d2d;
    border-radius: 10px;
    margin: 1rem 0;
    width: 80%;
    max-width: 700px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    .terminal-header {
      display: flex;
      justify-content: flex-start;
      padding: 0.5rem;
      background: #1a1a1a;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      .button {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin: 0 0.25rem;
        &.red {
          background: #ff605c;
        }
        &.yellow {
          background: #ffbd44;
        }
        &.green {
          background: #00ca4e;
        }
      }
    }
    .terminal-body {
      padding: 1rem;
      .response {
    p {
      margin: 0;
      line-height: 1.1;
      padding: 2px 0;
    }
    .skill-item {
      display: inline-flex;
      align-items: center;
      svg {
        margin-left: 10px;
      }
    }
  }
      .command {
        color: #00ff00;
        margin: 0.5rem 0;
      }
      .response {
        color: #ffffff;
        margin: 0.5rem 0;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          color: #ffffff;
          margin: 0.25rem 0;
        }
      }
      .typing-text {
        word-break: break-word;
          white-space: pre-line;
      
      }
      .cursor {
        display: inline-block;
        width: 10px;
        height: 20px;
        background-color: #ffffffde;
        animation: blink 0.7s infinite;
        vertical-align: middle;
      }
      @keyframes blink {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
@media (max-width: 540px) {
  #about .terminal {
    width: 70%;
    }
}