.project-card-container {
  width: 500px;
  margin: 20px auto;
  padding: 0 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-card {
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1a1a1a;
  padding: 5px 10px;
  position: relative;
}
.buttons {
  display: flex;
  align-items: center;
  
}
.buttons div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}
.close {
  background: #ff5f56;
}
.minimize {
  background: #ffbd2e;
}
.maximize {
  background: #27c93f;
}
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: white;
}
.project-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: top;
}
.task-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a1a1a;
  padding: 5px 10px;
  margin-top: -4px;
  border-radius: 0 0 10px 10px;
}
.task-icons {
  display: flex;
  gap: 10px;
}
.task-icons.left {
  justify-content: flex-start;
}
.task-icons.right {
  justify-content: flex-end;
}
.task-icon {
  width: 20px;
  height: 20px;
}
.note-icon {
  width: 20px; 
  height: 20px; 
}
.wobble-animation {
  animation: wobble 1s;
}
@keyframes wobble {
  0%, 100% { transform: none; }
  10% { transform: translateX(-25%) rotate(-5deg); }
  20% { transform: translateX(20%) rotate(3deg); }
  30% { transform: translateX(-15%) rotate(-3deg); }
  40% { transform: translateX(10%) rotate(2deg); }
  50% { transform: translateX(-5%) rotate(-1deg); }
  60% { transform: translateX(5%) rotate(1deg); }
  70% { transform: translateX(0%) rotate(0deg); }
}
.project-links {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 300px;
  border-radius: 0 0 10px 10px;
  margin-top: -5px;
  z-index: 0;
  position: relative;
}
.project-links a {
  text-decoration: none;
  background-image: linear-gradient(135deg, #f44369, #3e3b92);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-image 0.3s, color 0.3s;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(135deg, #f44369, #3e3b92);
    border-radius: 5px;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  &:hover {
    color: #fff;
    -webkit-background-clip: initial;
    background-clip: initial;
    &::before {
      opacity: 1;
    }
  }
}
/* Styles for modal */
.project-modal-overlay {
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.project-modal {
  position: relative;
  max-width: 800px;
  width: 90%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 1001;
  padding: 0;
}
.project-modal .title-bar {
  border-radius: 10px 10px 0 0;
}
.project-modal .task-bar {
  border-radius: 0 0 10px 10px;
}
.project-modal .project-image {
  border-radius: 0;
  max-height: 500px;
  object-fit: cover;
  object-position: top;
}
.project-modal .carousel .slide {
  background: none;
}
.project-modal .carousel .control-arrow {
  background: rgba(0, 0, 0, 0.5);
}
.project-modal .carousel .control-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}
/* Styles for notepad modal */
.notepad-modal {
  position: relative;
  max-width: 500px;
  width: 90%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 1001;
  padding: 0;
}
.notepad-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1a1a1a;
  padding: 5px 10px;
  position: relative;
  border-radius: 10px 10px 0 0;
}
.notepad-title-bar .buttons div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}
.notepad-title-bar .close {
  background: #ff5f56;
}
.notepad-title-bar .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}
.notepad-content {
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  background: #2d2d2d;
  border-radius: 0 0 10px 10px;
  max-height: 300px;
  overflow-y: auto;
}
.notepad-content p {
  color: #ffffff;
}
.notepad-modal-overlay {
  background: rgba(0, 0, 0, 0.123);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
/* Transitions pour les modals */
.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.notepad-modal-enter {
  opacity: 0;
  transform: translateY(-50px);
}
.notepad-modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.notepad-modal-exit {
  opacity: 1;
}
.notepad-modal-exit-active {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 300ms, transform 300ms;
}
.project-modal-overlay,
.notepad-modal-overlay {
  transition: opacity 300ms ease-in-out;
}
@media (max-width: 540px) {
  .project-modal {
    width: 95%;
    max-width: none;
  }
  .project-card {
    width: 80%;
  }
}